.header-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 10px;
    font-family: "Pixelated MS Sans Serif";

    @media screen and (max-height: 740px) {
        flex-direction: row;
    }

    .mes-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 60px;
        cursor: pointer;
    }

    p {
        color: white;
        font-size: 20px;
    }

    .projets {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .corbeille {
        position: fixed;
        bottom: 20vh;
        right: 40px;
        @media screen and (max-width: 425px) {
            display: none;
        }

        &:hover {
            cursor: default;
        }
    }
}