.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.modal-draggable {
    cursor: move;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
