.carousel-container {
    position: relative;
    text-align: center;

    .carousel {
        display: inline-block;
        position: relative;
        max-width: 680px;
        height: 450px;

        .screenshots-container {
            max-width: 100%;
            height: auto;
            max-height: 450px;

            &.zoomed {
                cursor: zoom-out;
            }
        }

        .screenshots {
            display: block;
            max-width: 100%;
            height: auto;
            max-height: 450px;
            margin: 0 auto;

            &:hover {
                cursor: zoom-in;
            }

            &.zoom {
                cursor: zoom-out;
                transform: scale(2);
            }
        }
    }

    .fleche {
        position: absolute;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.gauche {
            left: 10px;
        }

        &.droite {
            right: 10px;
        }
    }

    .compteur-image {
        margin-top: 12px;
        text-align: center;

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
