.carousel-container {
    position: relative;
    text-align: center;

    .carousel {
        display: flex;
        position: relative;
        max-width: 680px;
        height: 400px;
        justify-content: center;

        .screenshots-container {
            display: flex;
            width: 100%;
            max-width: 70%;
            height: auto;

            &.zoomed {
                cursor: zoom-out;
            }
        }

        .screenshots {
            display: block;
            max-width: 100%;
            height: auto;
            max-height: 450px;
            margin: 0 auto;

            &:hover {
                cursor: zoom-in;
            }

            &.zoom {
                position: fixed;
                top: clamp(0vh, 30vh, 30vh);
                left: clamp(0vw, 30vw, 30vw);
                z-index: 30;
                cursor: zoom-out;
                transform: scale(2);

                @media screen and (max-width: 425px) {
                    height: 46vh;
                    width: 45vw;
                }
            }
        }
    }

    .fleche {
        position: absolute;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 20;

        &.gauche {
            left: 10px;
        }

        &.droite {
            right: 10px;
        }
    }

    .compteur-image {
        margin-top: 12px;
        text-align: center;

        p {
            font-size: 18px;
            font-weight: bold;
        }
    }
}